body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.title {
    color: cyan;
    font-family: 'Times New Roman', Times, serif;
}

.main h1,
.main h2,
.main h3 {
    color: blueviolet;
    font-family: Arial, serif;
}

.section-heading {
    color: azure;
}

.sub-heading {
    color: blue;
}

input[type="text"] {
    width: 300px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}